#edit-page-investor,
#edit-page-emiten {
  section {
    margin-top: 12vh;
  }
}
@include media.xs {
  #edit-page-investor,
  #edit-page-emiten {
    font-family: Lato, sans-serif;
    section {
      .form-section {
        min-height: 100vh;
        width: 100%;
        margin-bottom: 41px;

        .row {
          gap: 0px;
          .form-desc {
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            gap: 22px;
            width: 371px;
            .back-btn {
              cursor: pointer;
              background-color: transparent;
              width: max-content;
              border: unset;
              display: flex;
              text-decoration: none;
              align-items: start;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-dark;
              &::before {
                content: url("../img/icon/arrow-left.png");
              }
            }
            .form-desc-wrapper {
              padding: 24px;

              ol {
                margin: 0;
                padding: 0 14px;
                li {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%; /* 24px */
                  color: $text-dark;
                }
              }
            }
          }
          .form-field {
            width: 100%;
            padding: 24px 0;
            .alert-wrapper {
              width: 100%;
              height: auto;
              .success-edited-alert {
                display: flex;
                background-color: #668547;
                gap: 8px;
                width: 100%;
                border-radius: 5px;
                padding: 8px;

                color: $text-light;
                font-family: Lato, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                &::before {
                  align-items: center;
                  content: url("../img/icon/check-circle.png");
                }
                &.hidden {
                  display: none;
                }
              }
            }
            .form-wrapper {
              display: flex;
              flex-direction: column;
              gap: 24px;
              width: 100%;
              padding: 24px;
              background-color: #fff;
              box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);

              h1 {
                text-align: center;
                width: 100%;
              }
              #tipe-umum-active {
                display: none;
              }
              #tipe-media-active {
                display: none;
              }
              #sekuritas-terdaftar-active {
                display: none;
                .wrapp-list-sekuritas {
                  margin-top: 8px;
                  width: max-content;
                  .list-sekuritas {
                    border: 2px solid $border-active;
                    width: 197px;
                    height: 162px;
                    padding: 8px;
                    border-radius: 5px;
                    ul {
                      overflow-y: scroll;
                      width: 100%;
                      height: 100%;
                      list-style: none;
                      display: flex;
                      flex-direction: column;
                      margin: unset;
                      gap: 4px;
                      &::-webkit-scrollbar {
                        width: 5px;
                      }
                      &::-webkit-scrollbar-track {
                        background-color: $color-light;
                        border-radius: 6px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background-color: $color-primary;
                        border-radius: 6px;
                      }
                      li {
                        list-style: none;
                        padding: 4px 12px;
                        cursor: pointer;
                        width: 98%;
                        border-radius: 5px;

                        color: $text-dark;
                        font-family: Lato, sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        &:hover {
                          background-color: $color-primary;
                          color: $text-light;
                        }
                      }
                    }
                  }
                }
              }
            }
            .btn-edit {
              position: absolute;
              align-self: self-end;
              cursor: pointer;
              background-color: transparent;
              border: unset;
              .ic-edit {
                content: url("../img/icon/edit-ic.png");
              }
            }
            .btn-submit {
              cursor: pointer;
              padding: 12px 0;
              background-color: $btn-active;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-light;
              border: none;
              width: 179px;
              display: block;
              margin: auto;
              border-radius: 8px;
              box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
              &:disabled {
                background-color: $btn-disabled;
                cursor: default;
              }
              &.hidden {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@include media.sm {
  #edit-page-investor,
  #edit-page-emiten {
    font-family: Lato, sans-serif;
    section {
      .form-section {
        min-height: 100vh;
        width: 100%;
        margin-bottom: 41px;

        .row {
          gap: 0px;
          .form-desc {
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            gap: 22px;
            width: 371px;
            .back-btn {
              cursor: pointer;
              background-color: transparent;
              width: max-content;
              border: unset;
              display: flex;
              text-decoration: none;
              align-items: start;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-dark;
              &::before {
                content: url("../img/icon/arrow-left.png");
              }
            }
            .form-desc-wrapper {
              padding: 24px;

              ol {
                margin: 0;
                padding: 0 14px;
                li {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%; /* 24px */
                  color: $text-dark;
                }
              }
            }
          }
          .form-field {
            width: 100%;
            padding: 24px 0;
            .alert-wrapper {
              width: 100%;
              height: auto;
              .success-edited-alert {
                display: flex;
                background-color: #668547;
                gap: 8px;
                width: 100%;
                border-radius: 5px;
                padding: 8px;

                color: $text-light;
                font-family: Lato, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                &::before {
                  align-items: center;
                  content: url("../img/icon/check-circle.png");
                }
                &.hidden {
                  display: none;
                }
              }
            }
            .form-wrapper {
              display: flex;
              flex-direction: column;
              gap: 24px;
              width: 100%;
              padding: 24px;
              background-color: #fff;
              box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);

              h1 {
                text-align: center;
                width: 100%;
              }
              #tipe-umum-active {
                display: none;
              }
              #tipe-media-active {
                display: none;
              }
              #sekuritas-terdaftar-active {
                display: none;
                .wrapp-list-sekuritas {
                  margin-top: 8px;
                  width: max-content;
                  .list-sekuritas {
                    border: 2px solid $border-active;
                    width: 197px;
                    height: 162px;
                    padding: 8px;
                    border-radius: 5px;
                    ul {
                      overflow-y: scroll;
                      width: 100%;
                      height: 100%;
                      list-style: none;
                      display: flex;
                      flex-direction: column;
                      margin: unset;
                      gap: 4px;
                      &::-webkit-scrollbar {
                        width: 5px;
                      }
                      &::-webkit-scrollbar-track {
                        background-color: $color-light;
                        border-radius: 6px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background-color: $color-primary;
                        border-radius: 6px;
                      }
                      li {
                        list-style: none;
                        padding: 4px 12px;
                        cursor: pointer;
                        width: 98%;
                        border-radius: 5px;

                        color: $text-dark;
                        font-family: Lato, sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        &:hover {
                          background-color: $color-primary;
                          color: $text-light;
                        }
                      }
                    }
                  }
                }
              }
            }
            .btn-edit {
              position: absolute;
              align-self: self-end;
              cursor: pointer;
              background-color: transparent;
              border: unset;
              .ic-edit {
                content: url("../img/icon/edit-ic.png");
              }
            }
            .btn-submit {
              cursor: pointer;
              padding: 12px 0;
              background-color: $btn-active;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-light;
              border: none;
              width: 179px;
              display: block;
              margin: auto;
              border-radius: 8px;
              box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
              &:disabled {
                background-color: $btn-disabled;
                cursor: default;
              }
              &.hidden {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@include media.md {
  #edit-page-investor,
  #edit-page-emiten {
    font-family: Lato, sans-serif;
    section {
      .form-section {
        min-height: 100vh;
        width: 100%;
        margin-bottom: 41px;

        .row {
          gap: 0px;
          .form-desc {
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            gap: 22px;
            width: 371px;
            .back-btn {
              cursor: pointer;
              background-color: transparent;
              width: max-content;
              border: unset;
              display: flex;
              text-decoration: none;
              align-items: start;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-dark;
              &::before {
                content: url("../img/icon/arrow-left.png");
              }
            }
            .form-desc-wrapper {
              padding: 24px;

              ol {
                margin: 0;
                padding: 0 14px;
                li {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%; /* 24px */
                  color: $text-dark;
                }
              }
            }
          }
          .form-field {
            width: 100%;
            padding: 24px 0;
            .alert-wrapper {
              width: 100%;
              height: auto;
              .success-edited-alert {
                display: flex;
                background-color: #668547;
                gap: 8px;
                width: 100%;
                border-radius: 5px;
                padding: 8px;

                color: $text-light;
                font-family: Lato, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                &::before {
                  align-items: center;
                  content: url("../img/icon/check-circle.png");
                }
                &.hidden {
                  display: none;
                }
              }
            }
            .form-wrapper {
              display: flex;
              flex-direction: column;
              gap: 24px;
              width: 100%;
              padding: 24px;
              background-color: #fff;
              box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);

              h1 {
                text-align: center;
                width: 100%;
              }
              #tipe-umum-active {
                display: none;
              }
              #tipe-media-active {
                display: none;
              }
              #sekuritas-terdaftar-active {
                display: none;
                .wrapp-list-sekuritas {
                  margin-top: 8px;
                  width: max-content;
                  .list-sekuritas {
                    border: 2px solid $border-active;
                    width: 197px;
                    height: 162px;
                    padding: 8px;
                    border-radius: 5px;
                    ul {
                      overflow-y: scroll;
                      width: 100%;
                      height: 100%;
                      list-style: none;
                      display: flex;
                      flex-direction: column;
                      margin: unset;
                      gap: 4px;
                      &::-webkit-scrollbar {
                        width: 5px;
                      }
                      &::-webkit-scrollbar-track {
                        background-color: $color-light;
                        border-radius: 6px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background-color: $color-primary;
                        border-radius: 6px;
                      }
                      li {
                        list-style: none;
                        padding: 4px 12px;
                        cursor: pointer;
                        width: 98%;
                        border-radius: 5px;

                        color: $text-dark;
                        font-family: Lato, sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        &:hover {
                          background-color: $color-primary;
                          color: $text-light;
                        }
                      }
                    }
                  }
                }
              }
            }
            .btn-edit {
              position: absolute;
              align-self: self-end;
              cursor: pointer;
              background-color: transparent;
              border: unset;
              .ic-edit {
                content: url("../img/icon/edit-ic.png");
              }
            }
            .btn-submit {
              cursor: pointer;
              padding: 12px 0;
              background-color: $btn-active;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-light;
              border: none;
              width: 179px;
              display: block;
              margin: auto;
              border-radius: 8px;
              box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
              &:disabled {
                background-color: $btn-disabled;
                cursor: default;
              }
              &.hidden {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@include media.lg {
  #edit-page-investor,
  #edit-page-emiten {
    font-family: Lato, sans-serif;
    section {
      .form-section {
        min-height: 100vh;
        width: 100%;
        margin-bottom: 41px;

        .row {
          gap: 24px;
          .form-desc {
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            gap: 22px;
            width: 371px;
            .back-btn {
              cursor: pointer;
              background-color: transparent;
              width: max-content;
              border: unset;
              display: flex;
              text-decoration: none;
              align-items: start;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-dark;
              &::before {
                content: url("../img/icon/arrow-left.png");
              }
            }
            .form-desc-wrapper {
              padding: 24px;

              ol {
                margin: 0;
                padding: 0 14px;
                li {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%; /* 24px */
                  color: $text-dark;
                }
              }
            }
          }
          .form-field {
            width: 100%;
            padding: 24px 0;
            .alert-wrapper {
              width: 100%;
              height: 40px;
              margin-bottom: 11px;
              .success-edited-alert {
                display: flex;
                background-color: #668547;
                gap: 8px;
                width: 100%;
                border-radius: 5px;
                padding: 8px;

                color: $text-light;
                font-family: Lato, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                &::before {
                  align-items: center;
                  content: url("../img/icon/check-circle.png");
                }
                &.hidden {
                  display: none;
                }
              }
            }
            .form-wrapper {
              display: flex;
              flex-direction: column;
              gap: 24px 0;
              width: 100%;
              padding: 24px;
              background-color: #fff;
              box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);
              h1 {
                text-align: center;
                width: 100%;
              }
              #tipe-umum-active {
                display: none;
              }
              #tipe-media-active {
                display: none;
              }
              #sekuritas-terdaftar-active {
                display: none;
                .wrapp-list-sekuritas {
                  margin-top: 8px;
                  width: max-content;
                  .list-sekuritas {
                    border: 2px solid $border-active;
                    width: 197px;
                    height: 162px;
                    padding: 8px;
                    border-radius: 5px;
                    ul {
                      overflow-y: scroll;
                      width: 100%;
                      height: 100%;
                      list-style: none;
                      display: flex;
                      flex-direction: column;
                      margin: unset;
                      gap: 4px;
                      &::-webkit-scrollbar {
                        width: 5px;
                      }
                      &::-webkit-scrollbar-track {
                        background-color: $color-light;
                        border-radius: 6px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background-color: $color-primary;
                        border-radius: 6px;
                      }
                      li {
                        list-style: none;
                        padding: 4px 12px;
                        cursor: pointer;
                        width: 98%;
                        border-radius: 5px;

                        color: $text-dark;
                        font-family: Lato, sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        &:hover {
                          background-color: $color-primary;
                          color: $text-light;
                        }
                      }
                    }
                  }
                }
              }
            }
            .btn-edit {
              cursor: pointer;
              background-color: transparent;
              border: unset;
              .ic-edit {
                content: url("../img/icon/edit-ic.png");
              }
            }
            .btn-submit {
              cursor: pointer;
              padding: 12px 0;
              background-color: $btn-active;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-light;
              border: none;
              width: 179px;
              display: block;
              margin: auto;
              border-radius: 8px;
              box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
              &:disabled {
                background-color: $btn-disabled;
                cursor: default;
              }
              &.hidden {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@include media.xl {
  #edit-page-investor,
  #edit-page-emiten {
    font-family: Lato, sans-serif;
    section {
      .form-section {
        min-height: 100vh;
        width: 100%;
        margin-bottom: 41px;

        .row {
          gap: 24px;
          .form-desc {
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            gap: 22px;
            width: 371px;
            .back-btn {
              cursor: pointer;
              background-color: transparent;
              width: max-content;
              border: unset;
              display: flex;
              text-decoration: none;
              align-items: start;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-dark;
              &::before {
                content: url("../img/icon/arrow-left.png");
              }
            }
            .form-desc-wrapper {
              padding: 24px;

              ol {
                margin: 0;
                padding: 0 14px;
                li {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%; /* 24px */
                  color: $text-dark;
                }
              }
            }
          }
          .form-field {
            width: 100%;
            padding: 24px 0;
            .alert-wrapper {
              width: 100%;
              height: 40px;
              margin-bottom: 11px;
              .success-edited-alert {
                display: flex;
                background-color: #668547;
                gap: 8px;
                width: 100%;
                border-radius: 5px;
                padding: 8px;

                color: $text-light;
                font-family: Lato, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                &::before {
                  align-items: center;
                  content: url("../img/icon/check-circle.png");
                }
                &.hidden {
                  display: none;
                }
              }
            }
            .form-wrapper {
              display: flex;
              flex-direction: column;
              gap: 24px 0;
              width: 100%;
              padding: 24px;
              background-color: #fff;
              box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);
              h1 {
                text-align: center;
                width: 100%;
              }
              #tipe-umum-active {
                display: none;
              }
              #tipe-media-active {
                display: none;
              }
              #sekuritas-terdaftar-active {
                display: none;
                .wrapp-list-sekuritas {
                  margin-top: 8px;
                  width: max-content;
                  .list-sekuritas {
                    border: 2px solid $border-active;
                    width: 197px;
                    height: 162px;
                    padding: 8px;
                    border-radius: 5px;
                    ul {
                      overflow-y: scroll;
                      width: 100%;
                      height: 100%;
                      list-style: none;
                      display: flex;
                      flex-direction: column;
                      margin: unset;
                      gap: 4px;
                      &::-webkit-scrollbar {
                        width: 5px;
                      }
                      &::-webkit-scrollbar-track {
                        background-color: $color-light;
                        border-radius: 6px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background-color: $color-primary;
                        border-radius: 6px;
                      }
                      li {
                        list-style: none;
                        padding: 4px 12px;
                        cursor: pointer;
                        width: 98%;
                        border-radius: 5px;

                        color: $text-dark;
                        font-family: Lato, sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        &:hover {
                          background-color: $color-primary;
                          color: $text-light;
                        }
                      }
                    }
                  }
                }
              }
            }
            .btn-edit {
              cursor: pointer;
              background-color: transparent;
              border: unset;
              .ic-edit {
                content: url("../img/icon/edit-ic.png");
              }
            }
            .btn-submit {
              cursor: pointer;
              padding: 12px 0;
              background-color: $btn-active;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-light;
              border: none;
              width: 179px;
              display: block;
              margin: auto;
              border-radius: 8px;
              box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
              &:disabled {
                background-color: $btn-disabled;
                cursor: default;
              }
              &.hidden {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@include media.xxl {
  #edit-page-investor,
  #edit-page-emiten {
    font-family: Lato, sans-serif;
    section {
      .form-section {
        min-height: 100vh;
        width: 100%;
        margin-bottom: 41px;

        .row {
          gap: 24px;
          .form-desc {
            padding: 24px 0;
            display: flex;
            flex-direction: column;
            gap: 22px;
            width: 371px;
            .back-btn {
              cursor: pointer;
              background-color: transparent;
              width: max-content;
              border: unset;
              display: flex;
              text-decoration: none;
              align-items: start;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-dark;
              &::before {
                content: url("../img/icon/arrow-left.png");
              }
            }
            .form-desc-wrapper {
              padding: 24px;

              ol {
                margin: 0;
                padding: 0 14px;
                li {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%; /* 24px */
                  color: $text-dark;
                }
              }
            }
          }
          .form-field {
            width: 100%;
            padding: 24px 0;
            .alert-wrapper {
              width: 100%;
              height: 40px;
              margin-bottom: 11px;
              .success-edited-alert {
                display: flex;
                background-color: #668547;
                gap: 8px;
                width: 100%;
                border-radius: 5px;
                padding: 8px;

                color: $text-light;
                font-family: Lato, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                &::before {
                  align-items: center;
                  content: url("../img/icon/check-circle.png");
                }
                &.hidden {
                  display: none;
                }
              }
            }
            .form-wrapper {
              display: flex;
              flex-direction: column;
              gap: 24px 0;
              width: 100%;
              padding: 24px;
              background-color: #fff;
              box-shadow: 0px 17px 33px -2px rgba(28, 39, 49, 0.05);
              h1 {
                text-align: center;
                width: 100%;
              }
              #tipe-umum-active {
                display: none;
              }
              #tipe-media-active {
                display: none;
              }
              #sekuritas-terdaftar-active {
                display: none;
                .wrapp-list-sekuritas {
                  margin-top: 8px;
                  width: max-content;
                  .list-sekuritas {
                    border: 2px solid $border-active;
                    width: 197px;
                    height: 162px;
                    padding: 8px;
                    border-radius: 5px;
                    ul {
                      overflow-y: scroll;
                      width: 100%;
                      height: 100%;
                      list-style: none;
                      display: flex;
                      flex-direction: column;
                      margin: unset;
                      gap: 4px;
                      &::-webkit-scrollbar {
                        width: 5px;
                      }
                      &::-webkit-scrollbar-track {
                        background-color: $color-light;
                        border-radius: 6px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background-color: $color-primary;
                        border-radius: 6px;
                      }
                      li {
                        list-style: none;
                        padding: 4px 12px;
                        cursor: pointer;
                        width: 98%;
                        border-radius: 5px;

                        color: $text-dark;
                        font-family: Lato, sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        &:hover {
                          background-color: $color-primary;
                          color: $text-light;
                        }
                      }
                    }
                  }
                }
              }
            }
            .btn-edit {
              cursor: pointer;
              background-color: transparent;
              border: unset;
              .ic-edit {
                content: url("../img/icon/edit-ic.png");
              }
            }
            .btn-submit {
              cursor: pointer;
              padding: 12px 0;
              background-color: $btn-active;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $text-light;
              border: none;
              width: 179px;
              display: block;
              margin: auto;
              border-radius: 8px;
              box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
              &:disabled {
                background-color: $btn-disabled;
                cursor: default;
              }
              &.hidden {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
