// Font Family: Lato & League Spartan
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=League+Spartan:wght@100;300;400;500;600;700&display=swap");

// Color palette
$color-primary: #04577c;
$color-secondary: #5dcad1;
$color-white: #fff;
$color-light: #e9ebff;
$color-dark: #024c6c;
$color-success: #668547;
$color-disabled: #cacefa;
$color-warning: #ff2634;

$text-dark: $color-primary;
$text-secondary: $color-secondary;
$text-white: $color-white;
$text-light: $color-light;
$text-disabled: $color-disabled;
$text-warning: $color-warning;

$btn-active: $color-primary;
$btn-disabled: $color-disabled;

$border-active: $color-secondary;
$border-focus: $color-dark;
$border-warning: $color-warning;
